*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,rgba(58, 194, 224, 1) 0%,rgba(54, 201, 108, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    width: 40%;
    border: 1.5px solid black;
    border-radius: 10px;
    /* Note : 
    1. Only Horizontal-for centering div horizontally only used margin: auto below
    2. Both horizontal and vertical - Used parent postion relative and child absolute with adjustments(top,left,transform) to vertically center div but height should be assigned of parent 
    */
    /* used flex in body parent elememnts so deleted this old school centering */
    /* margin: auto; */
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    padding: 20px;
    
    /* centering elements */
    /*1.  use of grid to align item inside container to make center horizontal and vertically */
    /* display: grid;
    place-items: center; */

    /* 2. used flex to center inside content */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* text-align keeps the elements horizontally center in div */
.title{
    /* as added display grid center in parent so makes all element center so no need this */
    /* text-align: center; */
    padding-bottom: 5px;
    
}
/* > used for only the title class's child p not any subchild. only immediate child */
.title>p{
    font-size: 30px;
    padding-bottom: 5px;
}
.underline{
    background-color: black;
    width: 200px;
    height: 2px;
    margin: auto;
    /* for Horizontal middle we can use margin auto OR the below position, left,translate property */
    /* position: relative;
    left: 50%;
    transform: translate(-50%,0);  */
}

.inputs{
    /* used flex so commented it */
    /* display: grid;
    place-items: center; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    margin-bottom: 5px;
}

.input>input{
    /* width: 40%; */
}
.btns{
    margin-top: 5px;
}

.btns>button{
    width: 50px;
}